@using FAQ.Infrastructure.Provider.Interface
@inject IUserProvider _userProvider;

@{
    if (_userProvider.GetCurrentUserId() != null)
    {
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Faq" asp-action="New">New FAQ</a>
                </li>
            </ul>
            <partial name="_LoginPartial"/>
        </div>
    }
}