@using FAQ.Repository.Interface
@model System.Collections.Generic.List<FAQ.entities.Faq>
@inject IFaqTagRepository _faqTagRepository
@{
    ViewBag.Title = "FAQ";
    Layout = "_Layout";
}

@foreach (var faq in Model)
{
    <details class="card">
        <summary class="card-header">
            <b>@faq.Question</b>
            @{
                var tags = _faqTagRepository.GetQueryable().Where(x => x.Faq == faq).Select(x => x.Tag.Slug);
                foreach (var tag in tags)
                {
                    <code class="ml-1" style="float: right">#@tag&nbsp;</code>
                }
            }
        </summary>
        @foreach (var answer in faq.Answer.Split(">>"))
        {
            <div class="card-body">
                <p class="mb-0 p-0">@answer</p>
            </div>
        }
    </details>
}
<style>
    .card{
     transition: all .3s;
    }
    .card:hover {
            cursor: pointer;
            filter: saturate(2.5);
            transform: translateY(-4px);
        }
</style>