@using FAQ.Repository.Interface
@using FAQ.Infrastructure.Provider.Interface
@model FAQ.ViewModel.FaqListModel
@inject IFaqTagRepository _faqTagRepository
@inject IUserProvider _userProvider
@{
    ViewBag.Title = "FAQ";
    Layout = "_Layout";
}
<form class="mb-4">
    <div class="form-group mb-1">
        <input class="form-control p-3 search" type="text" asp-for="Search" placeholder="Ask Me ?"/>
    </div>
    <button hidden="" type="submit"></button>
</form>

@{
    if (!Model.Faqs.Any())
    {
        if (!string.IsNullOrEmpty(Model.Search))
        {
            <h4 class="text-center info p-0"> <i class="fa fa-search"></i> "@Model.Search" no mathcing result </h4>
        }
        else
        {
            <h4 class="text-center info p-0"> <i class="fa fa-search"></i> Please Enter Your Quries </h4>
        }
    }
}
<partial name="_FaqIndex" model="@Model.Faqs"/>

